*.log
*.jsonl
submit.sh
/__pycache__/
*.pyc
*.pkl
*.pt
*.h5
*.ckpt
*.zip
*.tar.gz
*.tar
*.rar
early_version/
swanlab/
data_tools/sample/
trainer_output/
src/UNKNOWN.egg-info/
ckpt_hf/
eval/new_save/
swanlog/
Qwen3_1.7B_mini_pack0_dem1/
run_train_1B_mini_pack0_dem0/
run_train_1B_mini_pack1_dem1/
