accelerate
deepspeed==0.16.9
numpy==2.0.1
packaging==25.0
pandas
pillow==11.1.0
requests
s3transfer==0.13.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
swanlab
sympy==1.13.1
tensorboard==2.19.0
tiktoken==0.9.0
tokenizers==0.21.1
torch==2.7.0
torchaudio
torchvision
tqdm==4.67.1
transformers==4.53.0
triton
wandb
peft
pyarrow
fastparquet
packaging
ninja
swanlab[dashboard]
liger-kernel
